<h1>Volunteer Teams</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Primary Team Leader</th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= link_to_name team %></td>
    <td><%= link_to_name team.person %></td>
    <% if current_team_admin %>
      <td><%= link_to 'Edit', edit_team_path(team) %></td>
      <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Team', new_team_path %>
