<% if current_person %>
  <h1 class='caps'>My Teams</h1>
  <% current_person.teams.each do |team| %>
    <%= link_to_name team %>
  <% end %>
<% end %>

<h1>Volunteer Teams</h1>

<table>
  <tr class='caps'>
    <th>Team</th>
    <th>Team Leader</th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr class="<%= cycle('light-gray', 'white') %>">
    <td><%= link_to_name team %></td>
    <td><%= link_to_name team.person %></td>
    <% if current_team_admin %>
      <td><%= link_to 'Edit', edit_team_path(team) %></td>
      <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    <% if current_person %>
      <td><%= link_to 'join team', join_role_path(team), :method => :post unless current_person.andand.is_on_team?(team) %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Team', new_team_path %>
