<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Primary Team Leader:</b>
  <%= link_to_name @team.person %>
</p>

<% @team.dispatches.incomplete.each do |dispatch| %>
  <%= div_for dispatch do |dispatch| %>
    <%= dispatch.job.scheduled_start.andand.strftime("%I:%M %p on %A, %b %d") %>
    <%= link_to_name dispatch %>
    (<%= link_to_name dispatch.job %>)
  <% end %>
<% end %>

<% @team.roles.each do |role| %>
  <%= div_for role do %>
    <%= link_to_name role.person %>
    (<%= link_to_name role.skill %> - <%= role.person.aptitude_at_skill(role.skill)%>)
  <% end %>
<% end %>

<%= link_to 'add member', new_team_role_path(@team) %>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
