<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Primary Team Leader:</b>
  <%= @team.person.name %>
</p>

<% @team.roles.each do |role| %>
  <%= div_for role do %>
    <%= role.person.name %>
    (<%= role.skill.name %> - <%= role.person.aptitude_at_skill(role.skill)%>)
  <% end %>
<% end %>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
