<p>
  <%= image_tag @team.image, :width => 300 if @team.image.present? %>
</p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Primary Team Leader:</b>
  <%= link_to_name @team.person %>
</p>

<p>
  <b>groupme link</b>
  <%= @team.group_me_number %>
</p>

<p>
  <b>phone number</b>
  <%= @team.phone_number %>
</p>

<p>
  <b>email</b>
  <%= @team.email %>
</p>

<% @team.dispatches.incomplete.each do |dispatch| %>
  <%= div_for dispatch do |dispatch| %>
    <%= dispatch.job.scheduled_start.andand.strftime("%I:%M %p on %A, %b %d") %>
    <%= link_to_name dispatch %>
    (<%= link_to_name dispatch.job %>)
  <% end %>
<% end %>

<% @team.roles.each do |role| %>
  <%= div_for role do %>
    <%= link_to_name role.person %>
    (<%= link_to_name role.skill %> - <%= role.person.aptitude_at_skill(role.skill)%>)
  <% end %>
<% end %>

<div id="languages">
  <h3>Languages Spoken:</h3>
  <ul>
    <% @team.languages.each do |language| %>
      <li><%= language.name %></li>
    <% end %>
  </ul>
</div>

<% if current_team_admin %>
  <%= link_to 'add member', new_team_role_path(@team) %>
  <br>
  <%= link_to 'Edit', edit_team_path(@team) %> |
  <%= link_to 'Back', teams_path %>
<% end %>