<h1>Listing signatures</h1>
<%= link_to 'New Signature', new_signature_path, :method => :get, :class => 'right new_button' %>

<%= form_tag search_signatures_path do %>
  <%= text_field_tag :query %>
  <%= submit_tag :find %>
<% end %>

<table>
  <tr>
    <th>Waiver</th>
    <th>Signatory type</th>
    <th>Signatory</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%= paginate @signatures %>
<% @signatures.each do |signature| %>
  <tr class="<%= cycle 'light-gray', 'white' %>">
    <td><%= link_to_name signature.waiver %></td>
    <td><%= signature.signatory_type %></td>
    <td><%= link_to_name signature.signatory %></td>
    <td><%= link_to 'Show', signature %></td>
    <td><%= link_to 'Edit', edit_signature_path(signature) %></td>
    <td><%= link_to 'Destroy', signature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%= paginate @signatures %>
<br />

