<%= form_for(@assignment) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
      <% @assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :operations_center_id %><br />
    <%= f.select :operations_center_id, options_from_collection_for_select(OperationsCenter.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :job_id %><br />
    <%= f.select :job_id, options_from_collection_for_select(Job.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
