<p id="notice"><%= notice %></p>

<p>
  <b>Operations Center:</b>
  <%= link_to_name @assignment.operations_center %>
</p>

<p>
  <b>Job:</b>
  <%= link_to_name @assignment.job %>
</p>


<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
