<div id="register">
  <h2>Sign up</h2>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.email_field :email, :placeholder => 'EMAIL' %></div>

    <div><%= f.password_field :password, :placeholder => 'PASSWORD' %></div>

    <div><%= f.password_field :password_confirmation, :placeholder => 'PASSWORD CONFIRMATION' %></div>

    <div><%= f.submit "Sign up" %></div>
  <% end %>
</div>

<div id="login">
  <h2>Sign in</h2>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div><%= f.email_field :email, :placeholder => 'EMAIL' %></div>

    <div><%= f.password_field :password, :placeholder => 'PASSWORD' %></div>

    <div>
      <%= f.submit "Sign in" %>
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name) %>
      <% end -%>
    </div>
  <% end %>
</div>
