<h1>Registered Dispatchees</h1>

<table>
  <tr>
    <th><%= link_to 'First', :sort => 'first_name' %>/
    <%= link_to 'Last', :sort => 'last_name' %></th>
    <th><%= link_to 'Phone #', :sort => 'phone' %></th>
    <th><%= link_to 'Email', :sort => 'email' %></th>
  </tr>

<% @people.each do |person| %>
  <tr class="<%= cycle('light-gray', 'white') %>">
    <td><%= link_to_name person %></td>
    <td><%= person.primary_phone_number %></td>
    <td><%= mail_to person.email %></td>
    <td><%= link_to 'remove', person_path(person), :method => :delete, :confirm => "Ready to remove #{person.first_name}?" %></td>
  </tr>
<% end %>
</table>
