<h1>Listing team_admins</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @team_admins.each do |team_admin| %>
  <tr>
    <td><%= team_admin.name %></td>
    <td><%= team_admin.phone_number %></td>
    <td><%= team_admin.email %></td>
    <td><%= link_to 'Show', team_admin %></td>
    <td><%= link_to 'Edit', edit_team_admin_path(team_admin) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Team admin', new_team_admin_path %>
