<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @phase_template.name %>
</p>

<% @phase_template.steps.each do |step| %>
  <%= div_for step do %>
    <%= link_to_name step %>
  <% end %>
<% end %>

<%= link_to 'add step', new_phase_template_step_path(@phase_template) %> |
<%= link_to 'Edit', edit_phase_template_path(@phase_template) %> |
<%= link_to 'Back', phase_templates_path %>
