<h1>Listing aptitudes</h1>

<table>
  <tr>
    <th>Person</th>
    <th><%= link_to 'Skill', :sort => 'skill' %></th>
    <th>Level</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aptitudes.each do |aptitude| %>
  <tr>
    <td><%= link_to_name aptitude.person %></td>
    <td><%= link_to_name aptitude.skill %></td>
    <td><%= aptitude.level %></td>
    <td><%= aptitude.description %></td>
    <td><%= link_to 'Show', aptitude %></td>
    <td><%= link_to 'Edit', edit_aptitude_path(aptitude) %></td>
    <td><%= link_to 'Destroy', aptitude, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Aptitude', new_aptitude_path %>
