<h1>Waivers</h1>

<table>
  <tr>
    <th>Name</th>
    <% if current_team_admin %>
      <th>Signature type</th>
    <% end %>
    <th></th>
    <th></th>
  </tr>

<% @waivers.each do |waiver| %>
  <tr>
    <td><%= link_to_name waiver %></td>
    <% if current_team_admin %>
      <td><%= waiver.signature_type %></td>
      <td><%= link_to 'Edit', edit_waiver_path(waiver) %></td>
      <td><%= link_to 'Destroy', waiver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    <% if current_person %>
      <td><%= link_to 'sign this waiver', new_waiver_signature_path(waiver) unless current_person.has_signed_waiver?(waiver) %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Waiver', new_waiver_path if current_team_admin %>
