<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :task_id %><br />
    <%= f.select :task_id, options_from_collection_for_select(Task.alphabetical, :id, :name, @job.task_id) %>
  </div>
  <div class="field">
    <%= f.label :unit_id %><br />
    <%= f.select :unit_id, options_from_collection_for_select(Unit.all, :id, :full_name, @job.unit_id) %>
  </div>
  <div class="field">
    <%= f.label :scheduled_start %>
    <%= f.datetime_select :scheduled_start %>
  </div>
  <div class="field">
    <%= f.label :scheduled_end %>
    <%= f.datetime_select :scheduled_end %>
  </div>
  <div class="field">
    <%= f.label :actual_start %>
    <%= f.datetime_select :actual_start, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :actual_end %>
    <%= f.datetime_select :actual_end, :include_blank => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
