<h1 class='caps'>Jobs</h1>

<table>
  <tr class="caps">
    <th>Task</th>
    <th>Unit</th>
    <th>Team(s)</th>
    <th>Waivers Signed?</th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr class="<%= cycle('light-gray', 'white') %>">
    <td><%= link_to_name job.task %></td>
    <td><%= link_to_name job.unit :full_address %></td>
    <td>
      <%= job.teams.map { |team| link_to_name team }.join.html_safe %>
      <%= link_to 'dispatch a team', new_dispatch_path(:job_id => job.id) %>
    </td>
    <td><%= job.waived? %></td>
    <td><%= link_to 'Show', job %></td>
    <% if current_team_admin %>
      <td><%= link_to 'Edit', edit_job_path(job) %></td>
      <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job', new_job_path %>
