<h1 class='caps'>Jobs</h1>
<%= button_to 'New Job', new_job_path, :method => :get, :class => 'right new_button' %>
<nav id="jobs_completion">
  <%= link_to 'unstarted', :completion_scope => 'unstarted' %>
  <%= link_to 'undispatched', :completion_scope => 'undispatched' %>
  <%= link_to 'dispatched', :completion_scope => 'dispatched' %>
  <%= link_to 'incomplete', :completion_scope => 'incomplete' %>
  <%= link_to 'complete', :completion_scope => 'complete' %>
</nav>
<table>
  <tr class="caps">
    <th><%= link_to 'Task', :sort => 'task', :completion_scope => params[:completion_scope] %></th>
    <th><%= link_to 'Unit', :sort => 'unit', :completion_scope => params[:completion_scope] %></th>
    <th><%= link_to 'City', :sort => 'city', :completion_scope => params[:completion_scope] %></th>
    <th>Language(s)</th>
    <th><%= link_to 'Status', :sort => 'complete' %></th>
    <th><%= link_to 'Team(s)', :sort => 'team', :completion_scope => params[:completion_scope] %></th>
    <th>Waivers Signed?</th>
    <th>Created</th>
    <th>Updated</th>
    <th></th>
  </tr>
<%= paginate @jobs %>
<% @jobs.each do |job| %>
  <tr class="<%= cycle('light-gray', 'white') %>">
    <td><%= link_to_name job.task %></td>
    <td><%= link_to_name job.unit, :full_name %></td>
    <td><%= link_to_name job.city %></td>
    <td><%= job.languages.map(&:name).to_sentence %></td>
    <td><%= job.completion_state %><br><%= completion_tools(job) %></td>
    <td>
      <%= job.teams.map { |team| link_to_name team }.join.html_safe %>
      <%= link_to 'dispatch a team', new_dispatch_path(:job_id => job.id) %>
    </td>
    <td><%= job.waived? %></td>
    <td><%= job.created_at.strftime("%m/%d/%y") %></td>
    <td><%= job.updated_at.strftime("%m/%d/%y") %></td>
    <td><%= link_to 'Show', job %></td>
    <% if current_team_admin %>
      <td><%= link_to 'Edit', edit_job_path(job) %></td>
      <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>
<%= paginate @jobs %>
<br />

<%= link_to 'export to csv', export_jobs_path, :method => :post %>
