<p id="notice"><%= notice %></p>

<%= @coordinator.name %><br>
<%= @coordinator.primary_phone_number %><br>

<%= link_to 'Edit', edit_coordinator_path(@coordinator) %> |
<%= link_to 'Back', coordinators_path %>
