<h1 class='caps'>Skills</h1>
<%= link_to 'New Skill', new_skill_path, :method => :get, :class => 'right new_button' %>

<table>
  <tr class='caps'>
    <th>Skill</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @skills.each do |skill| %>
  <tr class="<%= cycle('light-gray', 'white') %>">
    <td><%= link_to_name skill %></td>
    <td><%= skill.description %></td>
    <% if current_person %>
      <td><%= link_to 'I do this', aptitudes_path(:aptitude => {:skill_id => skill.id, :person_id => current_person.id}), :method => :post unless current_person.has_skill?(skill)%></td>
    <% end %>
    <% if current_team_admin %>
      <td><%= link_to 'Edit', edit_skill_path(skill) %></td>
      <td><%= link_to 'Destroy', skill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

