<h1 class='caps'>Teams dispatched to jobs</h1>

<%= link_to 'unscheduled', :filter => 'unscheduled' %>
<%= link_to 'scheduled', :filter => 'scheduled' %>
<%= link_to 'in progress', :filter => 'incomplete' %>
<%= link_to 'completed', :filter => 'complete' %>

<table>
  <tr class='caps'>
    <th>ID</th>
    <th><%= link_to 'Status', :order => :complete, :direction => (params[:direction] == 'reverse' ? 'forward' : 'reverse') %></th>
    <th><%= link_to 'Dispatcher', :order => :dispatcher, :direction => (params[:direction] == 'reverse' ? 'forward' : 'reverse') %></th>
    <th><%= link_to 'Team', :order => :team, :direction => (params[:direction] == 'reverse' ? 'forward' : 'reverse') %></th>
    <th><%= link_to 'Job', :order => :job, :direction => (params[:direction] == 'reverse' ? 'forward' : 'reverse') %></th>
    <th><%= link_to 'Date', :order => :date, :direction => (params[:direction] == 'reverse' ? 'forward' : 'reverse') %></th>
    <th><%= link_to 'Updated', :order => :updated, :direction => (params[:direction] == 'reverse' ? 'forward' : 'reverse') %></th>
  </tr>
<%= paginate @dispatches %>
<% @dispatches.each do |dispatch| %>
  <tr class="<%= cycle('light-gray', 'white') %>">
    <td><%= link_to dispatch.id, dispatch %></td>
    <td><%= dispatch.job.andand.completion_state %></td>
    <td><%= link_to_name dispatch.person %></td>
    <td><%= link_to_name dispatch.team %></td>
    <td><%= link_to_name dispatch.job %></td>
    <td><%= dispatch.created_at.strftime("%m/%d/%y %I %P") %></td>
    <td><%= dispatch.updated_at.strftime("%m/%d/%y %I %P") %></td>
    <% if current_team_admin %>
      <td><%= link_to 'Edit', edit_dispatch_path(dispatch) %></td>
      <td><%= link_to 'Destroy', dispatch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>
<%= paginate @dispatches %>
<br />

<%= link_to 'New Dispatch', new_dispatch_path if current_team_admin %>
