<p id="notice"><%= notice %></p>

<p>
  <b>Team:</b>
  <%= link_to_name @dispatch.team %>
</p>

<p>
  <b>Job:</b>
  <%= link_to_name @dispatch.job %>
</p>

<p>
  <b>Scheduled Start:</b>
  <%= @dispatch.job.scheduled_start.strftime("%I:%M %p on %A, %b %d") %>
</p>

<p>
  <b>Dispatcher:</b>
  <%= link_to_name @dispatch.person %>
</p>
