<%= form_for(@proficiency) do |f| %>
  <% if @proficiency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proficiency.errors.count, "error") %> prohibited this proficiency from being saved:</h2>

      <ul>
      <% @proficiency.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :language_id %><br />
    <%= f.select :language_id, options_from_collection_for_select(Language.all, :id, :name, @proficiency.language_id), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :level, 'Proficiency Level (1 = I know 10 words; 4 = I have spoken in years past; 7 = I can communicate easily; 10 = I could teach this language)' %><br />
    <%= f.number_field :level %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
