<h1>Waivers per Task</h1>
<%= link_to 'New Task waiver', new_task_waiver_path, :method => :get, :class => 'right new_button' %>

<table>
  <tr>
    <th><%= link_to 'Task', :sort => 'task' %></th>
    <th><%= link_to 'Waiver', :sort => 'waiver' %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @task_waivers.each do |task_waiver| %>
  <tr class="<%= cycle 'light-gray', 'white' %>">
    <td><%= link_to_name task_waiver.task %></td>
    <td><%= link_to_name task_waiver.waiver %></td>
    <td><%= link_to 'Show', task_waiver %></td>
    <td><%= link_to 'Edit', edit_task_waiver_path(task_waiver) %></td>
    <td><%= link_to 'Destroy', task_waiver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

