<h1>Listing streets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @streets.each do |street| %>
  <tr>
    <td><%= link_to_name street %></td>
    <td><%= link_to_name street.city %></td>
    <td><%= link_to 'Show', street %></td>
    <% if current_team_admin %>
      <td><%= link_to 'Edit', edit_street_path(street) %></td>
      <td><%= link_to 'Destroy', street, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Street', new_street_path %>
