<h1>Streets</h1>
<%= button_to 'New Street', new_street_path, :method => :get, :class => 'right new_button' %>

<table>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%= paginate @streets %>
<% @streets.each do |street| %>
  <tr class="<%= cycle 'light-gray', 'white' %>">
    <td><%= link_to_name street %></td>
    <td><%= link_to_name street.city %></td>
    <td><%= link_to 'Show', street %></td>
    <% if current_team_admin %>
      <td><%= link_to 'Edit', edit_street_path(street) %></td>
      <td><%= link_to 'Destroy', street, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>
<%= paginate @streets %>
<br />

