<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @street.name %>
</p>

<p>
  <b>City:</b>
  <%= link_to_name @street.city %>
</p>


<%= link_to 'Edit', edit_street_path(@street) %> |
<%= link_to 'Back', streets_path %>

<% @addresses.in_groups_of(4, nil) do |address_group| %>
  <div class="address_row">
    <% address_group.each do |address| %>
      <% if address %>
        <strong><%= link_to address.street_number, address %></strong>
        (<%= link_to pluralize(address.jobs.impending.count, 'job') + ' impending', address_jobs_path(address, :order => 'impending') %>, 
        <%= link_to pluralize(address.jobs.undispatched.count, 'job') + ' undispatched', address_jobs_path(address, :order => 'undispatched') %>)
      <% end %>
    <% end %>
  </div>
<% end %>
