<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @street.name %>
</p>

<p>
  <b>City:</b>
  <%= link_to_name @street.city %>
</p>


<%= link_to 'Edit', edit_street_path(@street) %> |
<%= link_to 'Back', streets_path %>

<table>
  <% @addresses.each do |address| %>
    <tr>
      <% if address %>
        <td><strong><%= link_to address.street_number, address %></strong></td>
        <td><%= link_to pluralize(address.jobs.impending.count, 'job') + ' impending', address_jobs_path(address, :order => 'impending') %></td>
        <td><%= link_to pluralize(address.jobs.undispatched.count, 'job') + ' undispatched', address_jobs_path(address, :order => 'undispatched') %></td>
      <% end %>
    </tr>
  <% end %>
</table>