<%= form_for(@resident) do |f| %>
  <% if @resident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resident.errors.count, "error") %> prohibited this resident from being saved:</h2>

      <ul>
      <% @resident.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.text_field :first_name %>
    <%= f.label :first_name %>
  </div>
  
  <div class="field">
    <%= f.text_field :last_name %>
    <%= f.label :last_name %>
  </div>
  
  <div class="field">
    <%= f.text_field :primary_phone_number %>
    <%= f.label :primary_phone_number %>
  </div>
  
  <div class="field">
    <%= f.text_field :email %>
    <%= f.label :email %>
  </div>
  
  <div class="field">
    <%= f.password_field :password %>
    <%= f.label :password, 'New Password' %>
  </div>
  
  <div class="field">
    <%= f.password_field :password_confirmation %>
    <%= f.label :password_confirmation %>
  </div>
  
  <div class="field">
    <%= f.file_field :image %>
    <%= f.label :image %>
  </div>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
