<h1>Listing residents</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @residents.each do |resident| %>
  <tr>
    <td><%= link_to_name resident %></td>
    <td><%= resident.primary_phone_number %></td>
    <td><%= pluralize(resident.units.count, 'unit') %></td>
    <td><%= link_to 'Edit', edit_resident_path(resident) %></td>
    <td><%= link_to 'Destroy', resident, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Resident', new_resident_path %>
