<h1>Listing steps</h1>

<table>
  <tr>
    <th>Phase template</th>
    <th>Task</th>
    <th>Position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @steps.each do |step| %>
  <tr class="<%= cycle 'light-gray', 'white' %>">
    <td><%= link_to_name step.phase_template %></td>
    <td><%= link_to_name step.task %></td>
    <td><%= step.position %></td>
    <td><%= link_to 'up', move_up_step_path(step), :method => :put %>
    <td><%= link_to 'Show', step %></td>
    <td><%= link_to 'Edit', edit_step_path(step) %></td>
    <td><%= link_to 'Destroy', step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Step', new_step_path %>
