<h1>Addresses</h1>

<table>
  <tr>
    <th>Street number</th>
    <th>Street</th>
    <th>Zip</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @addresses.each do |address| %>
  <tr class="<%= cycle 'light-gray', 'white' %>">
    <td><%= address.street_number %></td>
    <td><%= link_to_name address.street %></td>
    <td><%= address.zip_code %></td>
    <td><%= link_to 'Show', address %></td>
    <td><%= link_to 'Edit', edit_address_path(address) %></td>
    <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Address', new_address_path %>
