<p id="notice"><%= notice %></p>

<p>
  <b>Street number:</b>
  <%= @address.street_number %>
</p>

<p>
  <b>Street:</b>
  <%= link_to_name @address.street %>
</p>

<p>
  <b>Zip:</b>
  <%= @address.zip_code %>
</p>

<p>
  <b>Neighborhood:</b>
  <%= link_to_name @address.neighborhood %>
</p>

<%= gmaps(:markers => {:data => @address.to_gmaps4rails}, :map_options => {:auto_zoom => false, :zoom => 14, :detect_location => true}) %>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
