<p id="notice"><%= notice %></p>

<p>
  <b>Street number:</b>
  <%= @address.street_number %>
</p>

<p>
  <b>Street:</b>
  <%= @address.street.name %>
</p>
<%= gmaps4rails(@address.to_gmaps4rails) %>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
