<h1>Listing feedback</h1>

<%= paginate @feedbacks%>

<table>
  <tr>
    <th>Message</th>
    <th>Name</th>
    <th>Email</th>
    <th>Ip</th>
    <th>Read</th>
    <th>Starred</th>
    <th>Person</th>
    <th>Resident</th>
    <th>Coordinator</th>
    <th>Team admin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @feedbacks.each do |feedback| %>
  <tr>
    <td><%= feedback.message %></td>
    <td><%= feedback.name %></td>
    <td><%= feedback.email %></td>
    <td><%= feedback.ip %></td>
    <td><%= feedback.read_by.andand.name %></td>
    <td><%= feedback.starred_by.andand.name %></td>
    <td><%= feedback.person %></td>
    <td><%= feedback.resident %></td>
    <td><%= feedback.coordinator %></td>
    <td><%= feedback.team_admin %></td>
    <td><%= link_to 'Show', feedback %></td>
    <td><%= link_to 'Edit', edit_feedback_path(feedback) %></td>
    <td><%= link_to 'Destroy', feedback, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%= paginate @feedbacks %>
