<p id="feedback_instructions">
  To provide feedback to Disaster Dispatcher, please submit the following form.
</p>

<%= form_for @feedback do |f| %>
  <%= f.text_field :name, :placeholder => 'Name' %>
  <%= f.text_field :email, :placeholder => 'Email' %>
  <%= f.submit 'SUBMIT', :id => 'feedback_submit' %>
  <br>
  <%= f.text_area :message, :placeholder => 'Comments' %>
<% end %>

<p>
  To contact a volunteer team, please select from the list below.
</p>

<table>
  <tr>
    <th>Team</th>
    <th>Primary Contact</th>
    <th>Email</th>
    <th>Phone</th>
  </tr>
  <% @teams.each do |team| %>
    <tr class="<%= cycle 'white', 'light-gray' %>">
      <td><%= team.name %></td>
      <td><%= team.person.andand.name %></td>
      <td><%= team.person.andand.email %></td>
      <td><%= team.person.andand.primary_phone_number %></td>
    </tr>
  <% end %>
</table>
