<%= form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person_id %><br />
    <%= f.select :person_id, options_from_collection_for_select(Person.alphabetical_by_first_name, :id, :name, @role.person_id) %>
  </div>
  <div class="field">
    <%= f.label :team_id %><br />
    <%= f.select :team_id, options_from_collection_for_select(Team.alphabetical, :id, :name, @role.team_id), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :skill_id %><br />
    <%= f.select :skill_id, options_from_collection_for_select(Skill.alphabetical, :id, :name, @role.skill_id), :include_blank => true %>
  </div>
  <div class="actions">
    <%= f.submit 'Join Team' %>
  </div>
<% end %>
