<p>
  <b>Person:</b>
  <%= link_to_name @role.person %>
</p>

<p>
  <b>Team:</b>
  <%= link_to_name @role.team %>
</p>

<p>
  <b>Skill:</b>
  <%= link_to_name @role.skill %>
</p>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
