<%= form_for(@unit) do |f| %>
  <% if @unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% @unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :name, @unit.address_id) %>
  </div>
  <div class="field">
    <%= f.label :legal_needs %><br />
    <%= f.text_field :legal_needs %>
  </div>
  <div class="field">
    <%= f.label :medical_needs %><br />
    <%= f.text_field :medical_needs %>
  </div>
  <div class="field">
    <%= f.label :insurance_situation %><br />
    <%= f.text_field :insurance_situation %>
  </div>
  <div class="field">
    <%= f.label :fema_number %><br />
    <%= f.text_field :fema_number %>
  </div>
  <div class="field">
    <%= f.label :livable %><br />
    <%= f.check_box :livable %>
  </div>
  <div class="field">
    <%= f.label :needs_met %><br />
    <%= f.check_box :needs_met %>
  </div>
  <div class="field">
    <%= f.label :power_on %><br />
    <%= f.check_box :power_on %>
  </div>
  <div class="field">
    <%= f.label :heater_needed %><br />
    <%= f.check_box :heater_needed %>
  </div>
  <div class="field">
    <%= f.label :tenant_is_owner %><br />
    <%= f.check_box :tenant_is_owner %>
  </div>
  <div class="field">
    <%= f.label :rapid_response_contacted %><br />
    <%= f.check_box :rapid_response_contacted %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note, :size => '30x3' %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :year_built %><br>
    <%= f.date_select :year_built, :discard_month => true, :start_year => Time.now.year, :end_year => 1800, :include_blank => true %>
  </div>
  
  <% if current_team_admin %>
    <div class="field">
      <%= f.label :will_not_be_helped %><br>
      <%= f.check_box :will_not_be_helped %>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
