<h1>Homes</h1>

<%= form_tag search_units_path, :method => :get do %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag :search %>
<% end %>
<%= button_to 'New Unit', new_unit_path, :method => :get, :class => 'right new_button' %>
<table>
  <tr>
    <th><%= link_to 'Name', :order => :name, :name_direction => (params[:name_direction] == 'asc' ? 'desc' : 'asc') %></th>
    <th><%= link_to 'Address', :order => :address, :address_direction => (params[:address_direction] == 'asc' ? 'desc' : 'asc') %></th>
    <th><%= link_to 'First', :order => :first_name, :first_name_direction => (params[:first_name_direction] == 'asc' ? 'desc' : 'asc') %>/
      <%= link_to 'Last', :order => :last_name, :last_name_direction => (params[:last_name_direction] == 'asc' ? 'desc' : 'asc') %></th>
    <th></th>
    <th><%= link_to 'Updated', :order => :updated, :updated_direction => (params[:updated_direction] == 'asc' ? 'desc' : 'asc') %></th>
  </tr>
<%= paginate @units %>
<% @units.each do |unit| %>
  <tr class="<%= cycle 'light-gray', 'white' %>">
    <td><%= link_to_name unit %></td>
    <td><%= link_to_name unit.address %></td>
    <td>
      <% if unit.resident.present? %>
        <%= link_to_name unit.resident %>
      <% else %>
        <%= link_to 'add resident', new_unit_resident_path(unit) %>
      <% end %>
    </td>
    <td><%= link_to pluralize(unit.jobs.incomplete.count, 'job'), unit_jobs_path(unit) %></td>
    <td><%= link_to 'Show details', unit %></td>
    <td><%= unit.updated_at.strftime("%m/%d/%y %I %p") %></td>
    <td><%= link_to 'Edit', edit_unit_path(unit) %></td>
    <td><%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%= paginate @units %>
<br />


<%= link_to_function 'upload csv', "$('#upload_form').show()" %>
<div id="upload_form">
  <%= form_tag upload_units_path, :multipart => true do %>
    <%= file_field :csv, :data %>
    <%= submit_tag 'Load' %>
  <% end %>
</div>
