<i>Please note that jobs (even after scheduling) are staffed by volunteers and rely on volunteers showing up.  We will do our best to help you, but can make no guarantees.</i>
<table>
  <tr>
    <th></th>
    <th>completed</th>
    <th>date</th>
  </tr>
  <div id="requested_jobs">
    <% @unit.jobs.each do |job| %>
      <%= div_for job do %>
        <tr>
          <td>
            <% if current_team_admin %>
              <%= link_to_name job %>
              <%= link_to '[x]', job_path(job), :method => :delete, :confirm => 'Ready to cancel this job?' %>
            <% else %>
              <%= job.name %>
            <% end %>
          </td>
        <% if job.actual_end.present? %>
          <td>√</td>
          <td><%= job.actual_end.strftime("%m/%d/%y") %></td>
        <% end %>
      <% end %>
    <% end %>
  </div>
</table>
<div id="nominate_tasks">
  <span id="instructions">If your home needs one or more of these jobs done, click on them (the page will reload each time).</span>
  <% (Task.common_tasks - @unit.tasks).each do |task| %>
    <%= link_to task.name, jobs_path(:job => {:task_id => task.id, :unit_id => @unit.id}), :method => :post %><br>
  <% end %>
</div>

<%= clearfix %>
<p>
  <b>Resident:</b>
  <% if @unit.resident.present? %>
    <%= link_to_name @unit.resident %>
  <% else %>
    <%= link_to 'add resident', new_unit_resident_path(@unit) %>
  <% end %>
</p>

<p>
  <b>Phone:</b>
  <%= @unit.resident.andand.primary_phone_number %>
</p>  

<p>
  <%= image_tag @unit.image, :width => 400 if @unit.image.present? %>
</p>

<p>
  <b>Name:</b>
  <%= @unit.name %>
</p>

<p>
  <b>Address:</b>
  <%= link_to_name @unit.address %>
</p>

<p>
  <b>Livable:</b>
  <%= @unit.livable %>
</p>

<p>
  <b>Plans to return:</b>
  <%= @unit.plan_to_return %>
</p>

<p>
  <b>Year built:</b>
  <%= @unit.year_built.andand.strftime("%Y") %>
</p>

<p>
  <b>Tenant is owner:</b>
  <%= @unit.tenant_is_owner %>
</p>

<p>
  <b>Power is on:</b>
  <%= @unit.power_on %>
</p>

<p>
  <b>Needs are met:</b>
  <%= @unit.needs_met %>
</p>

<p>
  <b>Heater needed:</b>
  <%= @unit.heater_needed %>
</p>

<p>
  <b>Carbon Monoxide Detector needed:</b>
  <%= @unit.need_carbon_monoxide_detector %>
</p>

<p>
  <b>Legal needs:</b>
  <%= @unit.legal_needs %>
</p>

<p>
  <b>Medical needs:</b>
  <%= @unit.medical_needs %>
</p>

<p>
  <b>Insurance situation:</b>
  <%= @unit.insurance_situation %>
</p>

<p>
  <b>Rapid Response contacted:</b>
  <%= @unit.rapid_response_contacted %>
</p>

<p>
  <b>FEMA id</b>
  <%= @unit.fema_number %>
</p>

<p>
  <b>Notes:</b>
  <%= text_to_html @unit.note.to_s %>
</p>

<p>
  updated on <%= @unit.updated_at.strftime("%m/%d/%y") %>
</p>
  
<% @unit.jobs.each do |job| %>
  <%= div_for job do %>
    <%= link_to_name job %>
    (<%= job.scheduled_start.andand.strftime("%I:%M %p on %A, %b %d") %>)
  <% end %>
<% end %>

<%= link_to 'add phase of tasks', phase_unit_path(@unit) %>

<%= gmaps(:markers => {:data => @unit.address.andand.to_gmaps4rails}, :map_options => {:auto_zoom => false, :zoom => 14, :detect_location => true}) %>


<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
