<%= paginate @cities %>
<%= button_to 'New City', new_city_path if current_team_admin, :method => :get, :class => 'right new_button' %>

<table>
<% @cities.each do |city| %>
  <tr class="<%= cycle 'light-gray', 'white' %>">
    <td class="city-name"><%= link_to_name city %></td>
    <td><%= link_to pluralize(city.teams.count, 'team'), city_teams_path(city) %></td>
    <% if current_team_admin %>
      <td><%= link_to 'deploy team', new_city_deployment_path(city) %></td>
      <td><%= link_to 'Edit', edit_city_path(city) %></td>
      <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>
<%= paginate @cities %>
<br />

