<p id="notice"><%= notice %></p>

<p>
  <b class="caps"><%= @city.name %></b>
</p>

<header class="caps">Neighborhoods</header>
<div id="neighborhoods" class="light-gray">
  <% @neighborhoods.each do |neighborhood| %>
    <%= div_for neighborhood do %>
      <%= link_to_name neighborhood %>
    <% end %>
  <% end %>
</div>

<header class="caps">Addresses</header>
<div id="addresses">
  <% @addresses.each do |address| %>
    <%= div_for address do %>
      <%= link_to_name address %>
      <ol>
        <% address.jobs.each do |task| %>
          <%= div_for task do %>
            <li><%= link_to_name task %></li>
          <% end %>
        <% end %>
      </ol>
    <% end %>
  <% end %>
</div>

<% if current_team_admin %>
  <%= link_to 'Edit', edit_city_path(@city) %> |
  <%= link_to 'Back', cities_path %>
<% end %>
