<h1>Neighborhoods</h1>

<table>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @neighborhoods.each do |neighborhood| %>
  <tr class="<%= cycle('light-gray', 'white') %>">
    <td><%= link_to_name neighborhood %></td>
    <td><%= neighborhood.city.name %></td>
    <% if current_team_admin %>
      <td><%= link_to 'Edit', edit_neighborhood_path(neighborhood) %></td>
      <td><%= link_to 'Destroy', neighborhood, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Neighborhood', new_neighborhood_path if current_team_admin %>
