<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @neighborhood.name %>
</p>

<p>
  <b>City:</b>
  <%= link_to_name @neighborhood.city %>
</p>

<div id="operations_centers">
	<h3>Operations Centers</h3>
	<% @operations_centers.each do |operations_center| %>
	  <%= div_for operations_center do %>
	    <%= link_to_name operations_center %>
	  <% end %>
	<% end %>
</div>

<div id="jobs">
	<h3>Jobs</h3>
  <% @jobs.each do |job| %>
    <%= div_for job do %>
      <%= link_to_name job %>
    <% end %>
  <% end %>
</div>

<div id="units">
	<h3>Units</h3>
  <% @units.each do |unit| %>
    <%= div_for unit do %>
      <%= link_to_name unit %>
    <% end %>
  <% end %>
</div>

<%#= gmaps({:map_options => {:auto_zoom => false, :zoom => 14}, :markers => (@units.map do |u| {:data => u.address.to_gmaps4rails})}) %>

<%= link_to 'Edit', edit_neighborhood_path(@neighborhood) %> |
<%= link_to 'Back', neighborhoods_path %>
