<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @neighborhood.name %>
</p>

<p>
  <b>City:</b>
  <%= link_to @neighborhood.city.name, @neighborhood.city %>
</p>

<div id="units">
  <% @units.each do |unit| %>
    <%= div_for unit do %>
      <%= link_to_name unit %>
    <% end %>
  <% end %>
</div>

<%#= gmaps({:map_options => {:auto_zoom => false, :zoom => 14}, :markers => (@units.map do |u| {:data => u.address.to_gmaps4rails})}) %>

<%= link_to 'Edit', edit_neighborhood_path(@neighborhood) %> |
<%= link_to 'Back', neighborhoods_path %>
