<!DOCTYPE html>
<html>
<head>
  <title>Dispatcher</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_person %>
    <%= link_to 'update my contact info', edit_person_path(current_person) %>
    <%= link_to 'sign out', destroy_person_session_path, :method => :delete %>
    <hr>
    <%= render 'shared/resource_links' %>
  <% elsif current_team_admin %>
    <%= link_to 'sign out', destroy_team_admin_session_path, :method => :delete %>
  <% else %>
    <%= link_to 'sign up as a team leader', new_team_admin_registration_path %>
    <%= link_to 'sign in', new_team_admin_session_path %>
    <hr>
    <%= link_to 'sign up to receive assistance', assistance_registration_path %>
    <hr>
    <%= link_to 'sign up to offer help', new_person_registration_path %>
    <%= link_to 'sign in', new_person_session_path %>
  <% end %>
<br>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
<%= yield :scripts %>
</body>
</html>
