<!DOCTYPE html>
<html>
<head>
  <title>Dispatcher</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'cities', cities_path %>
<%= link_to 'neighborhoods', neighborhoods_path %>
<%= link_to 'streets', streets_path %>
<%= link_to 'addresses', addresses_path %>
<%= yield %>

</body>
</html>
