<!DOCTYPE html>
<html>
  <head>
    <title>Dispatcher</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="background-holder">
      <div id="frame">
        <div id="header">
        	<%= image_tag 'disasterdispatcher_logo3.gif' %>
          <% if current_coordinator %>
            <div class="right">
              You are signed in as a coordinator.<br>
              <%= link_to image_tag('black_gear.png', :class => 'right', :id => 'settings_link') +current_coordinator.email, edit_coordinator_path(current_coordinator), :class => 'right' %> <br>
              <%= link_to 'sign out', destroy_coordinator_session_path, :method => :delete, :class => 'right' %>
            </div>
          <% end %>
          <% if current_person %>
            <div class="right">
              You are signed in as a volunteer.<br>
              <%= link_to image_tag('black_gear.png', :class => 'right', :id => 'settings_link') +current_person.email, edit_person_path(current_person), :class => 'right' %> <br>
              <%= link_to 'sign out', destroy_person_session_path, :method => :delete, :class => 'right' %>
            </div>
          <% end %>
          <% if current_resident %>
            <div class="right">
              You are signed in as a resident.<br>
              <%= link_to image_tag('black_gear.png', :class => 'right', :id => 'settings_link') + current_resident.email, current_resident, :class => 'right' %> <br>
              <%= link_to 'sign out', destroy_resident_session_path, :method => :delete, :class => 'right' %>
            </div>
          <% end %>
          <% if current_team_admin %>
            <div class="right">
              You are signed in as an admin.<br>
              <%= link_to image_tag('black_gear.png', :class => 'right', :id => 'settings_link') +current_team_admin.email, current_team_admin, :class => 'right' %> <br>
              <%= link_to 'sign out', destroy_team_admin_session_path, :method => :delete, :class => 'right' %>
            </div>
          <% end %>

          <%= clearfix %>
          <%= render 'shared/coordinator_tabs' if current_coordinator %>
          <%= render 'shared/person_resource_links' if current_person %>
          <%= render 'shared/resident_resource_links' if current_resident %>
          <%= render 'shared/resource_links_top' if current_team_admin %>
          <%= clearfix %>
          
          <% if !current_team_admin && !current_coordinator && !current_person && !current_resident %>
            <%= link_to 'residents', assistance_registration_path, :class => 'right tab' %>
            <%= link_to 'coordinators', new_coordinator_registration_path, :class => 'right tab' %>
            <%= link_to 'volunteers', new_person_registration_path, :class => 'right tab' %>
            <%= link_to 'sign in', new_person_session_path, :class => 'right tab' %>
          <% else %>
            <%= link_to 'sign in', new_person_session_path %>
          <% end %>
          <%= clearfix %>
          <br>
        </div>
        <div id="content-area">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
          <%= yield :scripts %>
        </div>
        <footer>
          <div class="tagline">This is an app for coordinating volunteers, managing resident needs, and facilitating disaster relief &amp; recovery.</div>
          <div>We respect your privacy and will never, under any circumstances, sell your personal information.</div>
          <div>
          <%= link_to 'Contact', new_feedback_path %>
          |
          <%= link_to 'About', root_url %>
          |
          <%= link_to 'Help' %>
  		    <% if current_team_admin %>
            <%= render 'shared/resource_links_bottom' %>
          <% end %>
        </footer>
      </div>
    </div>
  </body>
</html>
