<!DOCTYPE html>
<html>
  <head>
    <title>Dispatcher</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="background-holder">
      <div id="frame">
        <div id="header">
        	<div id="logo_hash">#</div><div id="logo">Disaster Dispatcher</div>
          <% if current_coordinator %>
            <div class="right">
              You are signed in as a coordinator.<br>
              <%= link_to current_coordinator.email, edit_coordinator_path(current_coordinator), :class => 'right' %>
              <%= image_tag 'black_gear.png', :class => 'right', :id => 'settings_link' %><br>
              <%= link_to 'sign out', destroy_coordinator_session_path, :method => :delete, :class => 'right' %>
            </div>
            <%= clearfix %>
            <%= render 'shared/coordinator_tabs' %>
            <%= clearfix %>
          <% end %>
          <% if current_person %>
            <div class="right">
              You are signed in as a volunteer.<br>
              <%= link_to current_person.email, edit_person_path(current_person), :class => 'right' %>
              <%= image_tag 'black_gear.png', :class => 'right', :id => 'settings_link' %><br>
              <%= link_to 'sign out', destroy_person_session_path, :method => :delete, :class => 'right' %>
            </div>
            <%= clearfix %>
            <%= render 'shared/person_resource_links' %>
            <%= clearfix %>
          <% end %>
          <% if current_resident %>
            <div class="right">
              You are signed in as a resident.<br>
              <%= link_to current_resident.email, current_resident, :class => 'right' %>
              <%= image_tag 'black_gear.png', :class => 'right', :id => 'settings_link' %><br>
              <%= link_to 'sign out', destroy_resident_session_path, :method => :delete, :class => 'right' %>
            </div>
            <%= clearfix %>
            <%= render 'shared/resident_resource_links' %>
            <%= clearfix %>
          <% end %>
          <% if current_team_admin %>
            <div class="right">
              You are signed in as an admin.<br>
              <%= link_to current_team_admin.email, current_team_admin, :class => 'right' %>
              <%= image_tag 'black_gear.png', :class => 'right', :id => 'settings_link' %><br>
              <%= link_to 'sign out', destroy_team_admin_session_path, :method => :delete, :class => 'right' %>
            </div>
            <%= clearfix %>
            <%= render 'shared/resource_links_top' %>
            <%= clearfix %>
          <% end %>
          
          <%= link_to 'sign in', new_person_session_path %>
          <%= clearfix %>
          <br>
        </div>
        <div id="content-area">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
          <%= yield :scripts %>
        </div>
        <footer>
          <em class="tagline">This is an app for coordinating volunteers, managing resident needs, and facilitating disaster relief & recovery</em>
          <div id="">
          <%= mail_to 'info@disasterdispatcher.com', 'Contact' %>
          |
          <%= link_to 'About', root_url %>
          |
          <%= link_to 'Help' %>
  		    <% if current_team_admin %>
            <%= render 'shared/resource_links_bottom' %>
          <% end %>
        </footer>
      </div>
    </div>
  </body>
</html>
