<!DOCTYPE html>
<html>
  <head>
    <title>Dispatcher</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="background-holder">
      <div id="frame">
        <div id="header">
        	<%= image_tag 'disasterdispatcher_logo3.gif' %>

        </div>
        <div id="content-area">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
          <%= yield :scripts %>
        </div>
        <footer>
          <div class="tagline">This is an app for coordinating volunteers, managing resident needs, and facilitating disaster relief &amp; recovery.</div>
          <div>We respect your privacy and will never, under any circumstances, sell your personal information.</div>
          <div id="">
          <%= link_to 'Contact', new_feedback_path %>
          |
          <%= link_to 'About', about_path %>
          |
          <%= link_to 'Help' %>
        </footer>
      </div>
    </div>
  </body>
</html>
